<ion-slides [options]="mySlideOptions">
  <ion-slide>
    <h1>Welcome to FoodServe</h1>
    
  </ion-slide>
  <ion-slide>
    <h1>This is what we do !!</h1>
  </ion-slide>
  <ion-slide>
    <h1>Start</h1>
    <button (click)="openApp()">Go to app</button>
  </ion-slide>
</ion-slides>